<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="apple-touch-icon" href="/icons/favicon.png">
  <link rel="icon" href="/icons/favicon.png">
  
  <title>Cafe Market Project</title>
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
  <a href="#cafe" class="skip-link">Rekomendasi Cafe</a>
  <app-bar></app-bar>

  <main id="mainContent"></main>

  <footer>
    <div class="footer__inner">
      <p>Copyright © 2022 - Cafe Market</p>
    </div>
  </footer>
</body>
</html>