@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
  color: #1D1C1C;
}

body {
  background: #ffffff;
}

a {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -45px;
  left: 20px;
  background-color: #F0A04B;
  color: white;
  transition: 0.3s;
  padding: 10px;
  z-index: 100;
}

.skip-link:focus {
  top: 20px;
  left: 20px;
}

/*
 * Header
 *
 */

.header {
  display: flex;
  padding: 12px 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF9EA;
}

.header__title a{
  color: #1D1C1C;
  font-weight: bold;
  transition: 0.3s;
}

.header__title a:hover {
  color: #636363;
  cursor: pointer;
}

.header a {
  font-weight: 500;
  padding: 13px 16px;
  border-radius: 10px;
}

.header ul {
  list-style: none;
  margin-left: 24px;
  padding: 0;
}

.header ul li {
  display: inline-block;
  margin: 10px;
}

.header ul li a {
  color: #636363;
  transition: 0.5s;
}

.header li a:hover {
  background-color: #FFCC45;
  color: #1D1C1C;
  border-radius: 10px;
}

#hamburgerButton {
  display: none;
}

.hamburger {
  padding: 6px;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

main {
  z-index: 0;
  position: relative;
}

/*
 * Hero
 *
 */

.hero {
  display: flex;
  align-items: center;
  min-height: 400px;
  min-width: 1000px;
  /* background-image: url('../public/images/heros/hero-image_2.jpg'); */
  background-position: center;
  background-size: cover;
  background-color: rgb(238, 222, 181);
  /* background-blend-mode: soft-light; */
}

.hero__inner {
  margin: 0 72px;
  width: 100%;
}

.hero__image__container{
  display: flex;
}

.hero__inner_image{
  max-width: 300px;
  margin-right: 24px;
  border-radius: 20px;
}

.hero__info {
  font-size: 18px;
  color: #876b12;
  font-weight: 700;
  margin-bottom: 8px;
}

.hero__title {
  color: #1D1C1C;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  font-stretch: 1.5;
  letter-spacing: 1.1px;
}

.hero__highlight{
  color: #a5842b;
}

.hero__tagline {
  color: #635E58;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1.1px;
}

.hero__inner__right{
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.hero__inner__right .hero__tagline{
  margin-top: 8px;
}

/*
 * Section
 *
 */

.section__label {
  margin: auto;
  width: 560px;
  /* padding: 0 300px; */
}

.section__highlight {
  text-align: center;
  font-size: 16px;
  color: #FFCC45;
  margin-bottom: 8px;
  letter-spacing: 1.2px;
}

.section__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.section__description {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #635E58;
  margin-top: 14px;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

/*
 * Strength
 *
 */

#strength__section {
  margin-top: 5%;
}

.strength {
  max-width: 1200px;
  margin: 20px auto 80px auto;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 30px;
}

.strength-item {
  max-width: 250px;
  overflow: hidden;
}

.strength-item__thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 300px;
}

.strength-item__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
  transition: 0.3s;
}

.strength-item__description {
  margin-top: 12px;
  padding: 0 18px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5em;
  color: #635E58;
}

/*
 * Cafe
 *
 */

#cafe__section {
  margin-top: 5%;
}

.cafes {
  justify-items: center;
  margin: 50px 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 30px;
}

.cafe-item {
  max-width: 450px;
  box-shadow: 0 4px 8px 0 #00000015;
  border-radius: 10px;
  overflow: hidden;
}

.cafe-item__header {
  position: relative;
}

.cafe-item__thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 300px;
}

.cafe-item__location {
  position: absolute;
  top: 16px;
  left: 0;
  background-color: #FFCC45;
  padding: 10px 12px 10px 10px;
  border-radius: 0 8px 8px 0;
}

.cafe-item__city {
  font-weight: 500;
  font-size: 14px;
  color: #1D1C1C;
}

.cafe-item__content {
  padding: 16px 24px 32px 24px;
}

.cafe-item__info {
  font-size: 12px;
  color: #ffc400;
}

.cafe-item__title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 8px;
  transition: 0.3s;
}

.cafe-item__title:hover {
  color: #858483;
}

.cafe-item__title a {
  color: inherit;
  padding: 15px 0 15px 0;
}

.cafe-item__description {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.5em;
  color: #635E58;
}

/*
 * Cafe Detail
 *
 */
.cafe__content {
  margin: 50px 60px;
}

.cafe__content .cafe__description p{
  margin-top: 16px;
  line-height: 1.6;
  color: #635E58;
  font-size: 14px;
}

#menu_section {
  margin-top: 16px;
}

#menus {
  margin: 30px 60px 70px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menus table {
  margin: 0;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #F0A04B;
  font-size: 20px;
  background: #fff;
}

#menus table th,
#menus table tr:nth-child(2n + 2) {
  background: #fff9e7;
}

#menus table th,
#menus table td {
  padding: 20px 50px;
}

#menus table th {
  border-bottom: 1px solid #F0A04B;
}

/*
 * Review
 *
 */

 #review__section {
  margin-top: 5%;
}

.reviews {
  justify-items: center;
  margin: 50px 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;
}

.review-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 #00000015;
  border-radius: 10px;
  overflow: hidden;
}

.review-item__content {
  padding: 16px 24px 32px 24px;
}

.review-item__date {
  font-size: 12px;
  color: #ffc400;
}

.review-item__name {
  font-weight: 700;
  font-size: 18px;
  margin-top: 6px;
  transition: 0.3s;
}

.review-item__review {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.5em;
  color: #635E58;
}

/*
   Like
*/

.like {
  font-size: 18px;
  font-weight: 600;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #F0A04B;
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  padding: 10px;
  z-index: 100;
}

.like i{
  margin-right: 8px;
  color: white;
}

/*
 * footer
 */

footer {
  background-color: #FFF9EA;
  padding: 2em;
  text-align: center;
}

footer p {
  color: #1D1C1C;
  font-size: 12px;
  letter-spacing: 1.5px;
}
